<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.product.mapper.ProductMapper">

    <resultMap type="Product" id="ProductResult" autoMapping="true">
    </resultMap>

    <select id="selectProductList" parameterType="Product" resultMap="ProductResult">
        select
        p.id, p.name, p.brand_id, p.category1_id, p.category2_id, p.category3_id, p.unit_name,
        p.slider_urls, p.spec_value, p.status, p.audit_status, p.audit_message, p.create_time,
        b.name brandName,
        c1.name category1Name,
        c2.name category2Name,
        c3.name category3Name
        from product p
        left join brand b on p.brand_id = b.id and b.del_flag = '0'
        left join category c1 on p.category1_id = c1.id AND c1.del_flag = '0'
        left join category c2 on p.category2_id = c2.id AND c2.del_flag = '0'
        left join category c3 on p.category3_id = c3.id AND c3.del_flag = '0'
        <where>
            <if test="name != null  and name != ''">and p.name like concat(#{name}, '%')</if>
            <if test="brandId != null ">and p.brand_id = #{brandId}</if>
            <if test="category1Id != null ">and p.category1_id = #{category1Id}</if>
            <if test="category2Id != null ">and p.category2_id = #{category2Id}</if>
            <if test="category3Id != null ">and p.category3_id = #{category3Id}</if>
            and p.del_flag = '0'
        </where>
        order by id desc
    </select>

</mapper>